---
import Layout from "../../layouts/Layout.astro";

const pageTitle = "标签索引页";

const allPosts = await Astro.glob("../posts/*.md");
const allUniqueTags = [
  ...new Set(allPosts.flatMap((post) => post.frontmatter.tags)),
];
---

<Layout pageTitle={pageTitle}>
  <div class="tags">
    {
      allUniqueTags.map((tag) => (
        <p class="tag">
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>
</Layout>

<style>
  a {
    color: #00539f;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    background-color: #f8fcfd;
  }
</style>
